
body {
	background-color: gray;
}

#wrapper {
	font-family: "Lato";
	min-width: 1440px;
	border: 1px solid transparent;
	margin: auto;
	background-color: white;
	margin-top: -10px;
}
h1, h3{
	width: 90%; 
	border:1px solid transparent;
	margin: auto;
	margin-top: 40px;
	line-height: 40px;
	font-family: "Arial Black";
}
 ul{ list-style-type: none;} 
p, ul {
	line-height: 30px;
	width: 90%;
	margin: auto;
}
h1 {
	font-size: 30pt;
	color: #3E3B3B;
	font-weight: bold;
}
h3 {
	color: #777575;
	font-family: "News Cycle";
}
p {
	font-size: 12pt;
	text-align: justify;
	background-color: white;
	padding: 15px;
	margin: 10px;
}
header {
	margin-top: 180px;
	margin-bottom: 180px;
	background-color: white;
}
	#image_wrapper {
		margin: auto;
		width: 592px;
	}
	header h1 {
		margin: auto;
		margin-bottom: 50px;
		font-family: "News Cycle";
		font-size: 30pt;
		text-align: center;
	}
#introduction {
	background-color: #f0f0f0;
	height: 700px;
	border: 1px solid transparent;
}
#introduction img {
	float: right;
	margin-top: 0px;
}
	#introduction h1 {
		margin-left: 70px;
		text-align: center;
		margin-top: 100px;
		margin-bottom: 60px;
		border:1px solid transparent;
		width: 40%;
		
	}
	#putleft {
		border:1px solid transparent;
		width: 90%;
		margin: auto;

	}
		#putleft p:nth-child(1){
			width: 40%;
		}
		#putleft p:nth-child(2){
			width: 40%;
		}
		#putleft p:nth-child(3){
			width: 45%;
		}
		#putleft p:nth-child(4){
			width: 31%;
			font-weight: bold;
			font-size: 18pt;
		}
		#putleft p:nth-child(5){
			width: 50%;
			background-color: transparent;
			color: #777575;
		}
	#introduction p {
		width: 70%;
		margin-left:0px;
	}

#interview {
	height: 800px;
	background-color: #f0f0f0;
	border:1px solid transparent;
}
	#interview img {
		float: left;

	}
	#interview h1 {
		margin-top: 200px;
		margin-bottom: 20px;
		margin-right: 0px;
		width: 70%;
		text-align: center;
	}
	#interview h3 {
		text-align: center;
		margin-right: 0px;
		width: 70%;
	}
	#putright {
		border:1px solid transparent;
		width: 90%;
		margin: auto;
		margin-left: 100px;
		

	}
	#interview div p, #interview ul {
		width: 60%;
		margin-right: 0px;
		margin-left: 450px;


	}
		#interview li {
			background-color: white;
			margin:30px;
			margin-right: 0px;
			padding: 15px;
		}
			#interview li:nth-child(1){
				width: 630px;
			}
			#interview li:nth-child(2){
				width: 750px;
			}
			#interview li:nth-child(3){
				width: 680px;
			}
			#interview li:nth-child(4){
				width: 770px;
			}
			#interview li:nth-child(5){
				width: 770px;
				background-color: transparent;
				color: #777575;
				text-align: justify;
			}

	#interview p:last-child {
		margin-top: -100px;
		background-color: transparent;
		border:1px solid red;
	}
#footer {
	height: 450px;
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
	margin:center;

}
	#footer p:first-child{
	background-color: transparent;
	text-align: center;
	margin: auto;
	color: #777575;
	margin-top: 60px;
	}
	#footer a{
	color: black;
	text-decoration: none;
	}
	#footer a:hover{
	color: #777575;
	}
	#footer h1 {
		text-align: left;
		margin-left: 70px;
		width: 70%;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 40px;
	}
	.footer {
			
		margin:auto;
	}
	#end {
		margin: auto;
		width: 80%;

	}
		#end p:nth-child(1) {
			margin:auto; 
			width: 45%;
			text-align: justify;
		}
		#end p:nth-child(2) {
			background-color: transparent;
			margin-top: -20px;
			color: #777575;
			text-align: left;
			margin-left: -1px;
		}

		#end p:nth-child(3) {
			margin:left; 
			width: 11%;
			text-align: justify;
			margin: -100 100 0 0;
			color: white;
			background-color: #777575
		}
		#end a {
			color: white;
		}
		#end a:hover {
			color:black
		}
		.right {
			float:right;
			margin-top: -70px;
			margin-right: 200px;
		}
		.footer {
			float: left;
			width: 60%;
		}
#inspiration {
	margin-bottom: 8px;
	text-align: center;
	color: black;

}
#inspiration a {
	color: #777575;
	text-decoration: none;
}
#inspiration a:hover {
	color: black;
}
		
		


